<app-header-nav></app-header-nav>
<div class="row" style="margin-top: 0px !important">
    <div class="col-2">
        <app-sidenav-bar></app-sidenav-bar>
    </div>
    <div class="col">
        <h1 class="jumbotron display-4">
         Reclamations
        </h1>
        <hr/>
        <div class="row">
            <div class="btn-group btn-group-toggle" *ngFor="let btnItem of buttonsList">
                <button class="btn btn-dark" [ngClass]="{'active':selectedComp == btnItem}" (click)="selectComponent(btnItem)">
                    {{btnItem}}
                </button>
            </div>
        </div>
        <app-entreprise-reclamations-list *ngIf="selectedComp=='Reclamations List'"></app-entreprise-reclamations-list>
        <app-entreprise-reclamations-add *ngIf="selectedComp=='Add Reclamation'"></app-entreprise-reclamations-add> 
        <app-entreprise-reclamations-edit [reclamationBody]="reclamationBody"  *ngIf="selectedComp=='Edit Reclamation' && reclamationBody"></app-entreprise-reclamations-edit>

    </div>
</div>
