<mat-card>
  <h4> Enter a new Reclamation </h4>
  <form [formGroup]="ReclamationFromBody" (ngSubmit)="submit()">
    

      <div class="example-container">

          <mat-form-field class="w-100 mb-3">
              <input matInput placeholder="Name" formControlName="Name">
              <mat-error *ngIf="ReclamationFromBody.get('Name').hasError('required') && ReclamationFromBody.get('Name').touched">This field should not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100 mb-3">
            <input matInput placeholder="Email" formControlName="Email" rows="5" cols="33">
              <mat-error *ngIf="ReclamationFromBody.get('Email').hasError('required') && ReclamationFromBody.get('Email').touched && ReclamationFromBody.get('Email').pattern">This field should not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100 mb-3">
            <input matInput placeholder="City" formControlName="City" rows="5" cols="33">
            <mat-error *ngIf="ReclamationFromBody.get('City').hasError('required') && ReclamationFromBody.get('City').touched">This field should not be empty.</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mb-3">
            <textarea matInput placeholder="Message" formControlName="Message" rows="5" cols="33"></textarea>
            <mat-error *ngIf="ReclamationFromBody.get('Message').hasError('required') && ReclamationFromBody.get('Message').touched">This field should not be empty.</mat-error>
        </mat-form-field>

   
          <!-- select owner  -->

          <button mat-raised-button color="dark" [disabled]="ReclamationFromBody.invalid">Save</button>
      </div>
  
      <!-- example-container -->
  </form>
</mat-card>